{% extends 'bezo/base.html' %} {% load static %} {% block title %}Buy Now{% endblock title %} {% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
                <li class="d-grid "><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <div class="row">
                {% if add %}{% for ad in add %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Address {{forloop.counter}}</h3>
                            <p>Name: {{ad.name}}</p>
                            <p>city: {{ad.city}}</p>
                            <p>Address : {{ad.locality}}</p>
                            <p>State: {{ad.state}}</p>
                            <p>Zipcode: {{ad.zipcode}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}<br> {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}