{% extends 'bezo/base.html' %} {% load static %} {% block title %}Password change done{% endblock title %} {% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'passwrodchangedone' %}" class="btn btn-primary">passwrodchangedone</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <div class="row">
                <h3 class="text-center">Password changed successfully</h3>
                <img src="{% static 'bezo/images/success/emoji2.gif' %}" height="400" width="100">
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}